@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28pt;

}

p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.text-stroke-white {
  -webkit-text-stroke: 1px white; /* Stroke de 2px en noir */
}
